.chat{
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;
}

.top .user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.top .user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.top .texts{
    display: flex;
    flex-direction: column;
    gap: 5px;

    span{
        font-size: 16px;
        font-weight: bold;
    }
    p{
        font-size: 12px;
        font-weight: 200;
        color: #a5a5a5;
    }
}

.top .icons{
    display: flex;
    gap: 20px;

    img{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.center{
    padding: 20px;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message{
        max-width: 70%;
        display: flex;
        gap: 20px;

        &.own{
            align-self: flex-end;

            .texts{
                p{
                    background-color: #5183fe;
                }
            }
        }

        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;

            img{
                width: 100%;
                height: 240px;
                border-radius: 10px;
                object-fit: cover;
            } 

            p{
                padding: 15px;
                background-color: rgba(17, 25, 40, 0.3);
                border-radius: 10px;
                font-size: 14px;
            }

            span{
                font-size: 10px;
            }
        }
    }
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid #dddddd35;
    gap: 10px;
    margin-top: auto;
}

.bottom .icons{
    display: flex;
    gap: 15px;
}

.bottom img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.bottom input{
    flex: 1;
    background-color: rgba(17, 25, 40, 0.5);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;

    &:disabled{
        cursor: not-allowed;
    }
}

.bottom .emoji{
    position: relative;

    .picker{
        position: absolute;
        bottom: 50px;
        left: 0;
    }
}

.bottom .sendButton{
    background-color: #5183fe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:disabled{
        background-color: #5182feb4;
        cursor: not-allowed;
    }
}

