.userInfo{
    padding: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.icons{
    display: flex;
    gap: 20px;
}

.icons img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}