.detail{
    flex: 1;

    .user{
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 13px;
        flex-direction: column;
        border-bottom: 1px solid #dddddd35;

        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
        }

        h2{
            font-size: 20px;
            font-weight: bold;
        }
        p{
            font-size: 15px;
        }
    }

    .info{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .option{

            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                span{
                    font-size: 15px;
                }

                img{
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    background-color: rgba(17, 25, 40, 0.3);
                    padding: 10px;
                    border-radius: 50%;
                }
            }

            .photos{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 0px;

                .photoItem{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;


                    .photoDetail{
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            object-fit: cover;
                        }

                        span{
                            font-size: 14px;
                            color: #ffffffa6;
                            font-weight: 300;
                        }

                    }

                    .icon{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: rgba(17, 25, 40, 0.3);
                        padding: 10px;
                        cursor: pointer;
                    }

                }
            }

        }
        
        button{
            padding: 10px;
            background-color: rgba(230, 74, 105, 0.553);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                background-color: rgba(230, 74, 105, 0.8);
                scale: 1.02;
            }

            &.logout{
                background-color: #1a73e8;
            }
        }

    }
}